# Question 1
Consider the following Python module: After importing the module into the interpreter, you execute: >>> b()
b()
b()
a
What value is displayed when the last expression (a) is evaluated? Explain your answer by indicating what happens in every executed statement.

In [ ]:
a = 0 #Initiating a variiable "a"
def b(): #Definig a function "b"
    global a #Declaring "a" as a global variable
    a = c(a) #c(a) will give the value of "a" when the function b() is called
def c(a): #Defining a function "c" which returns 0+2 as "a" was given a value 0 while also declaring it a global variable
    return a + 2

In [17]:
b()

In [18]:
a #After executing the function b() first time, the value of 'a' that was initiated as 0, is imcremented by 2, as we have declared 'a' as global variable, function c(a) is called inside b(), sincle the value of global 'a' is 0, c(a) returns the value 0+2 which is made eqaul to the variable 'a'.

2

In [19]:
b()

In [20]:
a #Since the value of 'a' was 2 after the first function call, now by following the same logic as above, the value of 'a' is again incremented by 2 and now 'a' is equal to 4

4

In [21]:
b()

In [22]:
a #After the third function call, the value of 'a' is 6.

6

_______________________________________________________________________________________________________________________________

# Question 2
Function fileLength(), given to you, takes the name of a file as input and returns the length of the file. If the file cannot be found by the interpreter or if it cannot be read as a text file, an exception will be raised. Modify function fileLength() so that a friendly message is printed instead:

In [48]:
def file_length(file_name): #defining a function
    try:  
        file = open(file_name) #using try method, we'll try to open the file
        contents = file.read()
        file.close()
        print(len(contents))
    except:
        print('The file with name "' + file_name + '" was not found') #if the try method doesn't work, the program will jump to except and print a neat message

In [36]:
pwd #Chcecking the directory

'C:\\Users\\adilf'

In [38]:
cd \Users\adilf\Desktop #Changing the directory

C:\Users\adilf\Desktop

In [39]:
pwd #Confirmming the change of directory

'C:\\Users\\adilf\\Desktop'

In [46]:
file_length('Question 2.txt') #Callling the function, Question 2.txt is a file, present in desktop directory

576

In [49]:
file_length('Question 2.pdf') #Callling the function again, Question 2.pdf doesn't exist in desktop directory

The file with name "Question 2.pdf" was not found

_______________________________________________________________________________________________________________________________

# Question 3
Write a class named Marsupial that can be used as shown below: >>> m = Marsupial() >>> m.put_in_pouch('doll') >>> m.put_in_pouch('firetruck') >>> m.put_in_pouch('kitten') >>> m.pouch_contents() ['doll', 'firetruck', 'kitten']
Now write a class named Kangaroo as a subclass of Marsupial that inherits all the attributes of Marsupial and also:
a. extends the Marsupial __init__ constructor to take, as input, the coordinates x and y of the Kangaroo object,
b. supports method jump that takes number values dx and dy as input and moves the kangaroo by dx units along the x-axis and by dy units along the y-axis, and
c. overloads the __str__ operator so it behaves as shown below.

In [50]:
class Marsupial: #Defining a class Marsupial
    def __init__(self): 
        self.data = [] 

    def put_in_pouch(self,thing): #defining a function put_in_pouch
        self.data.append(thing) #storing the entered value in thing

    def pouch_contents(self):
        return self.data

class Kangaroo(Marsupial): #Defining a class Kangaroo
    def __init__(self,x,y):
        self.x = x
        self.y = y
        Marsupial.__init__(self)

    def __str__(self):
        return "I am a Kangaroo located at coordinates ({},{})".format(self.x, self.y)

    def jump(self, dx,dy):
        self.x += dx
        self.y += dy

In [51]:
m = Marsupial()

In [52]:
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')

In [53]:
m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [54]:
k = Kangaroo(0,0)

In [55]:
print(k)

I am a Kangaroo located at coordinates (0,0)

In [56]:
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')

In [57]:
k.pouch_contents()

['doll', 'firetruck', 'kitten']

In [58]:
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)

In [59]:
print(k)

I am a Kangaroo located at coordinates (3,0)

_______________________________________________________________________________________________________________________________

# Question 4
Implement a new GUI class App that combines user-defined tkinter widget classes Calculator and Mortgage displayed below

In [30]:
from tkinter import * 
import math



root = Tk()
calc = Frame(root)
calc.grid()

#display for the calculator
root.title("Calculator")
text_box = Entry(calc, justify=RIGHT,width=30,font="Times 16 bold")
text_box.grid(row = 0, column = 0,columnspan = 10,padx=0, pady = 30)
text_box.insert(0, "0")

#Loan amont button and display
text_box = Entry(calc, justify=RIGHT,width=25,font="Times 16 bold")
text_box.grid(row = 1, column = 6,columnspan = 10,padx=0, pady = 0)
loanamount = Button(calc,height =1,width=17,padx=0, pady = 0, text = "Loan Amount:",bg="white")
loanamount.grid(row = 1, column = 7, padx=0, pady = 0)

#Interest rate button and display
text_box = Entry(calc, justify=RIGHT,width=25,font="Times 16 bold")
text_box.grid(row = 2, column = 6,columnspan = 10,padx=0, pady = 0)
loanamount = Button(calc,height =1,width=17,padx=0, pady = 0, text = "Interest Rate:",bg="white")
loanamount.grid(row = 2, column = 7, padx=0, pady = 0)

#Loan Terms button and display
text_box = Entry(calc, justify=RIGHT,width=25,font="Times 16 bold")
text_box.grid(row = 3, column = 6,columnspan = 10,padx=0, pady = 0)
loanamount = Button(calc,height =1,width=17,padx=0, pady = 0, text = "Loan Terms:",bg="white")
loanamount.grid(row = 3, column = 7, padx=0, pady = 0)

#Compute Mortgage button and display
text_box = Entry(calc, justify=RIGHT,width=25,font="Times 16 bold")
text_box.grid(row = 4, column = 6,columnspan = 10,padx=0, pady = 0)
loanamount = Button(calc,height =1,width=17,padx=0, pady = 0, text = "Compute Mortgage:",bg="white")
loanamount.grid(row = 4, column = 7, padx=0, pady = 0)

#number buttons for the calculator
numbers = "789456123"
i = 0
bttn = []
for j in range(1,4):
    for k in range(3):
        bttn.append(Button(calc,height =2,width=4,padx=10, pady = 10, text = numbers[i]))
        bttn[i]["bg"]= "white"
        bttn[i].grid(row = j, column = k,padx=1,pady=1)
        
        i += 1

        
#other buttons for the calculator
bttn_0 = Button(calc,height =2,width=4,padx=10, pady = 10, text = "0",bg="white")

bttn_0.grid(row = 4, column = 1,  padx=1, pady = 1)

div = Button(calc,height =2,width=4,padx=10, pady = 10, text = "/",bg="light blue")

div.grid(row = 1, column = 3, padx=1, pady = 1)

mult = Button(calc,height =2,width=4,padx=10, pady = 10, text = "*",bg="light blue")

mult.grid(row = 2, column = 3,  padx=1, pady = 1)

minus = Button(calc,height =2,width=4,padx=10, pady = 10, text = "-",bg="light blue")

minus.grid(row = 3, column = 3, padx=1, pady = 1)

add = Button(calc,height =2,width=4,padx=10, pady = 10, text = "+",bg="light blue")

add.grid(row = 4, column = 3,  padx=1, pady = 1)

point = Button(calc,height =2,width=4,padx=10, pady = 10, text = ".",bg="grey")

point.grid(row = 4, column = 2, padx=1, pady = 1)

neg= Button(calc,height =2,width=4,padx=10, pady = 10, text = "+/-",bg="grey")
neg.grid(row = 4, column = 0,  padx=1, pady = 1)

clear = Button(calc,height =2,width=4,padx=10, pady = 10, text = "C",bg="grey")

clear.grid(row = 1, column = 4,  padx=1, pady = 1)

all_clear = Button(calc,height =2,width=4,padx=10, pady = 10, text = "AC",bg="grey")

all_clear.grid(row = 2, column = 4, padx=1, pady = 1)

equals = Button(calc,height =2,width=4,padx=10, pady = 10, text = "=",bg="light blue")

equals.grid(row = 5, column = 4,columnspan=1,rowspan=2,padx=1, pady = 1)

mplus = Button(calc,height =2,width=4,padx=10, pady = 10, text = "M+",bg="light blue")

mplus.grid(row = 5, column = 2,columnspan=1,rowspan=2,padx=1, pady = 1)

mrecall = Button(calc,height =2,width=4,padx=10, pady = 10, text = "MR",bg="light blue")

mrecall.grid(row = 5, column = 0,columnspan=1,rowspan=2,padx=1, pady = 1)

mclear = Button(calc,height =2,width=4,padx=10, pady = 10, text = "MC",bg="light blue")

mclear.grid(row = 5, column = 1,columnspan=1,rowspan=2,padx=1, pady = 1)

mminus = Button(calc,height =2,width=4,padx=10, pady = 10, text = "M-",bg="light blue")

mminus.grid(row = 5, column = 3,columnspan=1,rowspan=2,padx=1, pady = 1)

sqroot = Button(calc,height =2,width=4,padx=10, pady = 10, text = "âˆš",bg="light blue")

sqroot.grid(row = 3, column = 4, padx=1, pady = 1)

power = Button(calc,height =2,width=4,padx=10, pady = 10, text = "x^2",bg="light blue")

power.grid(row = 4, column = 4, padx=1, pady = 1)

In [31]:
root.mainloop()

_______________________________________________________________________________________________________________________________

# Question 5
Write function collatz() that takes a positive integer x as input and prints the Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying this rule to the previous number x in the sequence:x = ð‘¥/2 ð‘–ð‘“ ð‘¥ ð‘–ð‘  ð‘’ð‘£ð‘’ð‘›/ 3ð‘¥+1 ð‘–ð‘“ ð‘¥ ð‘–ð‘  ð‘œð‘‘ð‘‘. Your function should stop when the sequence gets to number 1. Your implementation must be recursive, without any loops.

In [157]:
def collatz(x):defining a function collatz
    if(x == 1): 
        return int(x) #using if statemment, we'll return the value 1 if the entered value of c is 11
    elif (x % 2 == 0):
        print(int(x))#else if, the value is even, we'll print the collatz series 
        collatz(x/2)
    else:
        print(int(x)) #else, the value is odd, we'll print the collatz series 
        collatz(3*x + 1 )

In [158]:
collatz(1)

1

In [155]:
collatz(10)

10
5
16
8
4
2
1

_______________________________________________________________________________________________________________________________

# Question 6
Write a recursive method binary() that takes a non-negative integer n and prints the binary representation of integer n.

In [72]:
def binary(n): #defining a function called binary 
    if n > 1: #checking with if statement whether entered vallue is greater than 1
        binary(n//2) #will return binary value of the entered number
    print(n % 2,end = '') #printing the value of n, if n is 1 or 0 as binary oof 1 is 1 and 0 is 0

In [73]:
binary(0)

0

In [74]:
binary(1)

1

In [75]:
binary(3)

11

In [76]:
binary(9)

1001

_______________________________________________________________________________________________________________________________

# Question 7
Implement a class named HeadingParser that can be used to parse an HTML document, and retrieve and print all the headings in the document. You should implement your class as a subclass of HTMLParser, defined in Standard Library module html.parser. When fed a string containing HTML code, your class should print the headings, one per line and in the order in which they appear in the document. Each heading should be indented as follows: an h1 heading should have indentation 0, and h2 heading should have indentation 1, etc. Test your implementation using w3c.html.

In [20]:
from html.parser import HTMLParser #importing HTMLParser

class headingparser(HTMLParser): #initiating a class headingparser
    def __init__(self): #defining a function init(self)
        self.flag = False 
        self.indent = 0 #giving the indentation 0
        self.stack = [] #stacking on self
        super().__init__()

    def handle_starttag(self, tag, attrs): #defining a funnction handle_starttag
        if(tag[0] == 'h' and tag[1] <='6' and tag[1] > '0' and len(tag) == 2): #reading the start tag of each heading
            self.stack.append("") #appending to self

    def handle_endtag(self, tag): #defining a function handle_endtag
        if (tag[0] == 'h' and tag[1] <= '6' and tag[1] > '0' and len(tag) == 2): #reading the end tag of handle
            indent = int(tag[1]) - 1  #indenting the tag
            for i in range(0,indent):
                print("\t",end="")
            print(self.stack.pop())

    def handle_data(self, data): #defining a function handle_data
        if(len(self.stack) != 0): #checking if the enght of the stack is not eqaul to 0
            str = self.stack.pop() #poppping the string
            str+=data #adding the data to string
            self.stack.append(str)

In [11]:
pwd #checking the directory before reading the file

'C:\\Users\\adilf'

In [12]:
cd \Users\adilf\Desktop #changing the directory to desktop

C:\Users\adilf\Desktop

In [21]:
infile = open('w3c.html') #openin the file w3c.html
content = infile.read() #assigning a variable to store the contents of the file
infile.close() #closing the file
hp = headingparser() #initiating a variable hp for function headingparser()
hp.feed(content) #using hp variable to feed the contents of the file, we stored the file contents in variable content

W3C Mission
	Principles

_______________________________________________________________________________________________________________________________

# Question 8
Implement recursive function webdir() that takes as input: a URL (as a string) and non-negative integers depth and indent. Your function should visit every web page reachable from the starting URL web page in depth clicks or less, and print each web page's URL. As shown below, indentation, specified by indent, should be used to indicate the depth of a URL.

In [26]:
from html.parser import HTMLParser #importing html parser
from urllib.parse import urljoin #importing urljoin
class Collector(HTMLParser): #defining a class Collector
    def __init__(self,url):
        HTMLParser.__init__(self)
        self.url = url
        self.links = []
    def handle_startag(self,tag,attrs): 
        if tag == 'a':
            for attr in attrs:
                if attr[0] == 'href':
                    absolute = urljoin(self.url,attr[1])
                    if absolute[:4] == 'http':
                        self.links.append(absolute)
    def getLinks(self):
        return self.links

from urllib.request import urlopen 
def analyze(url):
    content = urlopen(url).read().decode()
    collector = Collector(url)
    collector.feed(content)
    return collector.getLinks()

visited = set()
def webdir(url,depth,indent): 
    global visited
    if depth == 0:
        return
    print(' '*indent,url)
    indent += 1
    depth -= 1
    visited.add(url)
    links = analyze(url)
    for link in links:
        if link not in visited:
            try:
                webdir(link,depth,indent)
            except:
                pass

In [29]:
webdir('http://reed.cs.depaul.edu/lperkovic', 2, 0) #URL "http://reed.cs.depaul.edu/lperkovic/csc242/test1.html" is not working, says 404 error.

 http://reed.cs.depaul.edu/lperkovic

_______________________________________________________________________________________________________________________________

# Question 9
Write SQL queries on the below database table that return:
A) All the temperature data.
B) All the cities, but without repetition.
C) All the records for India.
D) All the Fall records.
E) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.
F) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.
G) The total annual rainfall for Cairo.
H) The total rainfall for each season.

In [1]:
%load_ext sql

In [2]:
%sql sqlite://

In [ ]:
#Creating a table 'Rain' that contains columns 'City','Country','Season','Temperature'&'Rainfall' and also inserting values into the table.

In [3]:
%sql create table Rain(City varchar(100),Country varchar(100),Season varchar(100),Temperature_C float ,Rainfall_mm float );
%sql insert into Rain values('Mumbai','India', 'Winter',24.8,5.9);
%sql insert into Rain values('Mumbai','India', 'Spring',28.4,16.2);
%sql insert into Rain values('Mumbai','India', 'Summer',27.9,1549.4);
%sql insert into Rain values('Mumbai','India', 'Fall',27.6,346.0);
%sql insert into Rain values('London','United Kingdom', 'Winter',4.2,207.7);
%sql insert into Rain values('London','United Kingdom', 'Spring',8.3,169.6);
%sql insert into Rain values('London','United Kingdom', 'Summer',15.7,157.0);
%sql insert into Rain values('London','United Kingdom', 'Fall',10.4,218.5);
%sql insert into Rain values('Cairo','Eqypt', 'Winter',13.6,16.5);
%sql insert into Rain values('Cairo','Eqypt', 'Spring',20.7,6.5);
%sql insert into Rain values('Cairo','Eqypt', 'Summer',27.7,0.1);
%sql insert into Rain values('Cairo','Eqypt', 'Fall',22.2,4.5);

 * sqlite://
Done.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.

[]

In [4]:
%sql SELECT * FROM Rain; #Calling the table to chek the content

 * sqlite://
Done.

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
 ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
 ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Eqypt', 'Winter', 13.6, 16.5),
 ('Cairo', 'Eqypt', 'Spring', 20.7, 6.5),
 ('Cairo', 'Eqypt', 'Summer', 27.7, 0.1),
 ('Cairo', 'Eqypt', 'Fall', 22.2, 4.5)]

A) All the temperature data.

In [5]:
%sql select Temperature_C from Rain; #selecting only the temperature column from the table

 * sqlite://
Done.

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

B) All the cities, but without repetition.

In [88]:
%sql select City from Rain group by City; #groping cities from the column City

 * sqlite://
Done.

[('Cairo',), ('London',), ('Mumbai',)]

C) All the records for India.

In [6]:
%sql select * from Rain where Country = 'India'; #selecting the data from table, specific to country "India"

 * sqlite://
Done.

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

D) All the Fall records.

In [7]:
%sql select * from Rain where Season = 'Fall'; #selecting data from the table specific to "Fall" season.

 * sqlite://
Done.

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Eqypt', 'Fall', 22.2, 4.5)]

E) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.

In [8]:
%sql select City, Country,Season,Rainfall_mm from Rain where Rainfall_mm between 200 and 400; 
#selecting city, country & season for rainfall betwee 200 & 400

 * sqlite://
Done.

[('Mumbai', 'India', 'Fall', 346.0),
 ('London', 'United Kingdom', 'Winter', 207.7),
 ('London', 'United Kingdom', 'Fall', 218.5)]

F) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.

In [92]:
%sql select City, Country from Rain where Season = 'Fall' and Temperature > 20 order by Temperature;
#selecting city & country with avg temperature greater than 20

 * sqlite://
Done.

[('Cairo', 'Eqypt'), ('Mumbai', 'India')]

G) The total annual rainfall for Cairo.

In [9]:
%sql select sum(Rainfall_mm) from Rain where City = 'Cairo'; #selecting and summing total rainfall for cairo

 * sqlite://
Done.

[(27.6,)]

H) The total rainfall for each season.

In [10]:
%sql select Season, sum(Rainfall_mm) from Rain group by Season; #selecting total rainfall for every season.

 * sqlite://
Done.

[('Fall', 569.0),
 ('Spring', 192.29999999999998),
 ('Summer', 1706.5),
 ('Winter', 230.1)]

_______________________________________________________________________________________________________________________________

# Question 10
Suppose list words is defined as follows:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
Write list comprehension expressions that use list words and generate the following:
A) Upper case,
B) Lower case,
C) Length of each word,
D) Combination of upper case, lower case & length of each word,
E) Words in the list 'words' which have more than 4 character.

In [95]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog'] #initiating a list with words

In [96]:
words #showing the list

['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

A) Print list in upper chase

In [98]:
caps = [word.upper() for word in words] #converting the contents of list to upper case
print(caps)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

B) Print list in lower chase

In [99]:
caps = [word.lower() for word in words] #converting the contents of list to lower case
print(caps)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

C) Print length of each word in the list 'words'

In [102]:
length = [len(word) for word in words] #printing the length of each word in the list
print(length)

[3, 5, 5, 3, 5, 4, 3, 4, 3]

D) Print combination of upper, lower and length of each word in list 'words'

In [100]:
LowerUpperLen = [[w.upper(), w.lower() , len(w)] for w in words] #printing the combination of upper case, lower case & length of the words in the list
print(LowerUpperLen)

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

E) Print words in the list 'words' which have more than 4 character

In [101]:
FourChar = [w for w in words if len(w) > 3] #printing the words in list whose length is 4 or more
print(FourChar)

['quick', 'brown', 'jumps', 'over', 'lazy']

_______________________________________________________________________________________________________________________________